.user {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
    .previous{
        position: absolute;
        left: 0;
        padding: 0;
    }
    .welcome {
        text-align: center;
    }
}